<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Review Website</title>
    <link rel="stylesheet" href="./style.css">
  </head>

<body>
  <div class="navbar">
    <a href="/">Form</a>
    <a href="/reviews">Reviews</a>
    <a href="/pokemon">Pokemon</a>
  </div>
  <div id="thanks"> 
    <h1>Thanks for Submitting a Review!</h1>
    <h2>Go to "Form" to submit another review or "Reviews" to see all reviews, including yours &#128513;</h2>
  </div>
</body>